<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="guet.com.cn.guoyitangadmin.mapper.HealthRecordMapper">
    <select id="selectHealthRecord" resultType="guet.com.cn.guoyitangadmin.bean.tb_natmeha_health_base">
        SELECT * FROM tb_natmeha_health_base WHERE PATIENT_ID=#{0}
    </select>
</mapper>